* {
    margin: 0px;
    padding: 0px;
}

body {
    min-width: 100vh;
    margin: 0;
    background: linear-gradient(#c38bbf, #800080);
}

.content {
    position: relative;
    margin: auto;
    display: block;
    margin-top: 50%;
}

.rectangulo1 {
    height: 550px;
    width: 1000px;
    max-width: 100%;
    background: linear-gradient(#4B316D, #301F45);
    position: relative;
    margin: 0 auto;
    border: 2px solid black;
    top: -500px;
    border-radius: 15px;
}

.rectanguloizquierdo {
    height: 340px;
    width: 250px;
    background: #ffff;
    position: absolute;
    border: 2px solid black;
    top: 100px;
    left: 112px;
    border-radius: 15px;
}

.rectangulocentro {
    height: 400px;
    width: 290px;
    background: #ffff;
    position: absolute;
    border: 2px solid black;
    top: 70px;
    left: 360px;
    border-radius: 20px;
}

.rectanguloderecho {
    height: 340px;
    width: 250px;
    background: #ffff;
    position: absolute;
    border: 2px solid black;
    top: 100px;
    left: 650px;
    border-radius: 20px;
}

.article {
    color: black;
    margin-top: 15px;
    padding-bottom: 10px;
    font-family: 'Times New Roman', Times, serif;
}

article h1 {
    color: rebeccapurple;
    text-align: center;
}

article h2 {
    text-align: center;
}

.stykerizquierdo {
    position: relative;
    left: 85px;
    width: 80px;
    height: 100px;
}

.stykercentro {
    position: relative;
    left: 105px;
    top: 25px;
    width: 90px;
    height: 100px;
}

.stykerderecho {
    position: relative;
    left: 90px;
    top: 25px;
    width: 80px;
    height: 100px;
}


/*Cuando pasa el maus se realsa*/

.rectanguloizquierdo:hover {
    background: #979690;
    transform: translateY(-90px);
}

.rectangulocentro:hover {
    background: #979690;
    transform: translateY(-90px);
}

.rectanguloderecho:hover {
    background: #979690;
    transform: translateY(-90px);
}


/*Respond*/

@media screen and (max-width:800px) {
    .rectanguloizquierdo {
        position: relative;
        left: 50px;
    }
    .rectangulocentro {
        position: relative;
        left: 50px;
        top: 120px;
        width: 250px;
    }
    .rectanguloderecho {
        position: relative;
        left: 50px;
        top: 150px;
    }
    .rectangulo1 {
        height: 1500px;
    }
}


/*Final del Respond*/