* {
    margin: 0px;
    padding: 0px;
}

body {
    min-width: 100vh;
    margin: 0;
    background: linear-gradient(#c38bbf, #800080);
}

.content {
    position: relative;
    margin: auto;
    display: block;
    margin-top: 50%;
}

.rectangulo1 {
    height: 550px;
    width: 1000px;
    background: linear-gradient(#4B316D, #301F45);
    position: relative;
    margin: 0 auto;
    border: 2px solid black;
    top: -650px;
    border-radius: 20px;
}

.rectanguloizquierdo {
    height: 340px;
    width: 250px;
    background: #ffff;
    position: absolute;
    border: 2px solid black;
    top: 100px;
    left: 100px;
    border-radius: 20px;
}

.rectangulocentro {
    height: 340px;
    width: 250px;
    background: #ffff;
    position: absolute;
    border: 2px solid black;
    top: 100px;
    left: 400px;
    border-radius: 20px;
}

.rectanguloderecho {
    height: 340px;
    width: 250px;
    background: #ffff;
    position: absolute;
    border: 2px solid black;
    top: 100px;
    left: 700px;
    border-radius: 20px;
}

.article {
    color: black;
    margin-top: 15px;
    padding-bottom: 10px;
    font-family: 'Times New Roman', Times, serif;
}

article h1 {
    color: rebeccapurple;
    text-align: center;
}

article h2 {
    text-align: center;
}

.imagen {
    position: relative;
    left: 75px;
}